.center-content-vertically
{
    flex-direction: row;
    align-items: center;
}

.port-box
{
    position-type: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    flex-direction: row;
    align-items: center;
    justify-content: center
    
}

#output-port-box
{    
    position-right: -12px;    
}

#input-port-box 
{    
    position-left: -12px;
}

.input-port
{
    position-left: 4px;    
}

.output-port
{
    position-right: -4px;
}